{% extends 'quotes/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Quotes with tag: {{ tag.name }}</h2>
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small></span>
            <a href="/author/{{ quote.author.id }}">(about)</a>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                    <a class="tag" href="{% url 'quotes:tag_detail' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}